/* line 13, ../../sass/progress.sass */
.pageOut {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}

/* line 17, ../../sass/progress.sass */
body {
  display: none;
}

/* line 20, ../../sass/progress.sass */
#progress {
  background-color: black;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 30, ../../sass/progress.sass */
#breakout {
  position: absolute;
  top: 0;
  left: 0%;
  width: 20%;
  height: 10px;
  background-color: #2840b7;
  -webkit-animation: breakout 0.5s ease-in-out 0.01s infinite alternate;
  -moz-animation: breakout 0.5s ease-in-out 0.01s infinite alternate;
  -ms-animation: breakout 0.5s ease-in-out 0.01s infinite alternate;
  -o-animation: breakout 0.5s ease-in-out 0.01s infinite alternate;
  animation: breakout 0.5s ease-in-out 0.01s infinite alternate;
}

@-moz-keyframes breakout {
  /* line 40, ../../sass/progress.sass */
  0% {
    background-color: #2840b7;
    left: 0%;
  }

  /* line 43, ../../sass/progress.sass */
  100% {
    background-color: #2840b7;
    left: 80%;
  }
}

@-webkit-keyframes breakout {
  /* line 40, ../../sass/progress.sass */
  0% {
    background-color: #2840b7;
    left: 0%;
  }

  /* line 43, ../../sass/progress.sass */
  100% {
    background-color: #2840b7;
    left: 80%;
  }
}

@-ms-keyframes breakout {
  /* line 40, ../../sass/progress.sass */
  0% {
    background-color: #2840b7;
    left: 0%;
  }

  /* line 43, ../../sass/progress.sass */
  100% {
    background-color: #2840b7;
    left: 80%;
  }
}

@keyframes breakout {
  /* line 40, ../../sass/progress.sass */
  0% {
    background-color: #2840b7;
    left: 0%;
  }

  /* line 43, ../../sass/progress.sass */
  100% {
    background-color: #2840b7;
    left: 80%;
  }
}

/* line 48, ../../sass/progress.sass */
#spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
}
/* line 53, ../../sass/progress.sass */
#spinner div {
  border: 2px solid white;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: 0 auto;
  border-radius: 30px;
}

/* line 60, ../../sass/progress.sass */
#spinnerL {
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 0 10px white;
  -moz-box-shadow: 0 0 10px white;
  box-shadow: 0 0 10px white;
  -webkit-animation: pulse 1s ease-in-out 0s infinite normal;
  -moz-animation: pulse 1s ease-in-out 0s infinite normal;
  -ms-animation: pulse 1s ease-in-out 0s infinite normal;
  -o-animation: pulse 1s ease-in-out 0s infinite normal;
  animation: pulse 1s ease-in-out 0s infinite normal;
}

/* line 66, ../../sass/progress.sass */
#spinnerS {
  position: relative;
  top: -30px;
  width: 30px;
  height: 30px;
  -webkit-animation: goround 1s linear 0s infinite normal;
  -moz-animation: goround 1s linear 0s infinite normal;
  -ms-animation: goround 1s linear 0s infinite normal;
  -o-animation: goround 1s linear 0s infinite normal;
  animation: goround 1s linear 0s infinite normal;
}

@-moz-keyframes pulse {
  /* line 74, ../../sass/progress.sass */
  0% {
    -webkit-transform: scale(0.9) rotate(160deg);
    -moz-transform: scale(0.9) rotate(160deg);
    -ms-transform: scale(0.9) rotate(160deg);
    -o-transform: scale(0.9) rotate(160deg);
    transform: scale(0.9) rotate(160deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 77, ../../sass/progress.sass */
  70% {
    -webkit-transform: scale(1) rotate(150deg);
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 80, ../../sass/progress.sass */
  100% {
    -webkit-transform: scale(3) rotate(0deg);
    -moz-transform: scale(3) rotate(0deg);
    -ms-transform: scale(3) rotate(0deg);
    -o-transform: scale(3) rotate(0deg);
    transform: scale(3) rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  /* line 74, ../../sass/progress.sass */
  0% {
    -webkit-transform: scale(0.9) rotate(160deg);
    -moz-transform: scale(0.9) rotate(160deg);
    -ms-transform: scale(0.9) rotate(160deg);
    -o-transform: scale(0.9) rotate(160deg);
    transform: scale(0.9) rotate(160deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 77, ../../sass/progress.sass */
  70% {
    -webkit-transform: scale(1) rotate(150deg);
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 80, ../../sass/progress.sass */
  100% {
    -webkit-transform: scale(3) rotate(0deg);
    -moz-transform: scale(3) rotate(0deg);
    -ms-transform: scale(3) rotate(0deg);
    -o-transform: scale(3) rotate(0deg);
    transform: scale(3) rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-ms-keyframes pulse {
  /* line 74, ../../sass/progress.sass */
  0% {
    -webkit-transform: scale(0.9) rotate(160deg);
    -moz-transform: scale(0.9) rotate(160deg);
    -ms-transform: scale(0.9) rotate(160deg);
    -o-transform: scale(0.9) rotate(160deg);
    transform: scale(0.9) rotate(160deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 77, ../../sass/progress.sass */
  70% {
    -webkit-transform: scale(1) rotate(150deg);
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 80, ../../sass/progress.sass */
  100% {
    -webkit-transform: scale(3) rotate(0deg);
    -moz-transform: scale(3) rotate(0deg);
    -ms-transform: scale(3) rotate(0deg);
    -o-transform: scale(3) rotate(0deg);
    transform: scale(3) rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@keyframes pulse {
  /* line 74, ../../sass/progress.sass */
  0% {
    -webkit-transform: scale(0.9) rotate(160deg);
    -moz-transform: scale(0.9) rotate(160deg);
    -ms-transform: scale(0.9) rotate(160deg);
    -o-transform: scale(0.9) rotate(160deg);
    transform: scale(0.9) rotate(160deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 77, ../../sass/progress.sass */
  70% {
    -webkit-transform: scale(1) rotate(150deg);
    -moz-transform: scale(1) rotate(150deg);
    -ms-transform: scale(1) rotate(150deg);
    -o-transform: scale(1) rotate(150deg);
    transform: scale(1) rotate(150deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 80, ../../sass/progress.sass */
  100% {
    -webkit-transform: scale(3) rotate(0deg);
    -moz-transform: scale(3) rotate(0deg);
    -ms-transform: scale(3) rotate(0deg);
    -o-transform: scale(3) rotate(0deg);
    transform: scale(3) rotate(0deg);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes goround {
  /* line 85, ../../sass/progress.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 87, ../../sass/progress.sass */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-webkit-keyframes goround {
  /* line 85, ../../sass/progress.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 87, ../../sass/progress.sass */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-ms-keyframes goround {
  /* line 85, ../../sass/progress.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 87, ../../sass/progress.sass */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes goround {
  /* line 85, ../../sass/progress.sass */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 87, ../../sass/progress.sass */
  100% {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}
